.container_videoPage {
  height: calc(100vh - 3.4rem);
  overflow-y: auto;
  background-color: rgb(11, 11, 11);
  color: white;
}

.container2_videoPage {
  padding: 0.5rem 3.5rem;
  display: flex;
}

.video_display_screen_videoPage {
  width: 100%;
}

.video_ShowVideo_videoPage {
  height: 70vh;
  background-color: black;
  border: 1px solid rgba(37, 37, 37, 0.2);
}

.video_btns_title_VideoPage_cont {
  border-bottom: 3px solid rgba(245, 222, 179, 0.175);
  flex-grow: 1;
}

.video_title_VideoPage {
  font-size: x-large;
  margin: 0;
  padding: 1rem 0.8rem;
}

.views_date_btns_VideoPage {
  display: flex;
  margin: 0.5rem 1rem;
}

.views_videoPage {
  display: flex;
  font-size: 0.8rem;
  flex-grow: 1;
  align-items: center;
}

.chanel_details_videoPage {
  border-bottom: 3px solid rgba(245, 222, 179, 0.175);
  display: flex;
  text-decoration: none;
  color: aliceblue;
  font-weight: bolder;
}

.chanel_logo_videoPage {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.19);
  width: 3.5rem;
  height: 3.5rem;
  margin: 0.5rem;
  background-color: rgba(255, 255, 255, 0.667);
  border-radius: 100%;
}

.chanel_logo_videoPage p {
  color: black;
  margin: auto;
  font-size: x-large;
}

.chanel_name_videoPage {
  font-weight: bolder;
  margin: auto 1rem;
  font-size: large;
}

.comments_VideoPage {
  padding: 0.5rem;
}

.moreVideoBar {
  width: 25%;
  padding: 0 1rem;
}

@media only screen and (max-width: 950px) {
  .container2_videoPage {
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .container2_videoPage {
    flex-direction: column;
    align-items: center;
    margin: auto 0.2rem;
  }

  .views_date_btns_VideoPage {
    margin: auto 0;
  }

  .moreVideoBar {
    margin: 0.5rem 3.5rem;
    margin-bottom: 5rem;
    width: 100%;
  }

  .moreVideoBar div {
    padding-top: 0.3rem;
    border-top: 4px solid rgba(245, 222, 179, 0.175);
    font-size: 1rem;
    text-align: center;
  }
}

@media only screen and (max-width: 710px) {
  .container2_videoPage {
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 540px) {
  .views_date_btns_VideoPage {
    flex-direction: column;
    align-items: start;
    gap: 1;
    margin-bottom: 0.3rem;
  }

  .views_videoPage {
    margin-left: 0.7rem;
    margin-bottom: 0.2rem;
  }
}
