.container3_channel {
  border-bottom: 3px solid rgba(1, 26, 96, 0.692);
  padding: 0.5rem;
  color: whitesmoke;
  position: relative;
}

.channel_logo_channel {
  border: 3px solid rgba(49, 7, 219, 0.66);
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  display: flex;
  margin: 0 auto;
  background-color: rgba(92, 135, 4, 0.769);
}

.channel_logo_channel b {
  margin: auto;
  font-size: 3rem;
}

.description_channel {
  text-align: center;
}

.description_channel b {
  font-size: 4rem;
}

.description_channel p {
  font-size: large;
}

.editbtn_channel,
.uploadbtn_channel {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  background-color: blue;
  padding: 0.5rem;
  border: 2px solid transparent;
  border-radius: 0.5rem;
  color: white;
  transition: all 1s;
  cursor: pointer;
}

.uploadbtn_channel {
  top: 4rem;
}

.editbtn_channel:hover,
.uploadbtn_channel:hover {
  border: 2px solid;
  color: rgb(231, 140, 14);
}

@media only screen and (max-width: 800px) {
  .hideIt {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .channel_logo_channel {
    width: 3rem;
    height: 3rem;
  }

  .channel_logo_channel b {
    font-size: 1.5rem;
  }

  .description_channel b {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 575px) {
  .description_channel b {
    font-size: 1.5rem;
  }

  .description_channel p {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 475px) {
  .channel_logo_channel {
    width: 2rem;
    height: 2rem;
  }

  .channel_logo_channel b {
    font-size: 1rem;
  }

  .container3_channel .channel_buttons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .editbtn_channel, .uploadbtn_channel {
    position: static;
  }
}
